.DS_Store

#ignore node_modules, as the node project is not "deployed" per se: http://www.mikealrogers.com/posts/nodemodules-in-git.html
**/node_modules
**/*.config.js
**/todayTODO.md
**/log
*.swp
/misc
/build
/gulp
.sass-cache
.awspublish-deptdev
cajitas_icon-02.svg
transport_icon-01.svg
bkgrd.png
consulting_icon-03.svg
.jslintrc