@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: scale(1,1) rotate(360deg);
  }
}

@-webkit-keyframes expandRotate {
  from {
    -webkit-transform: scale(0,0) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1,1) rotate(360deg);
  }
}
@keyframes expandRotate {
  from {
    transform: scale(0,0) rotate(0deg);
  }
  to {
    transform: scale(1,1) rotate(360deg);
  }
}

@keyframes shiftUpAndShrink {
  from {
    transform: scale(1, 1) translate(0em, 0em);
  }
  to {
    transform: scale(0.5, 0.5) translate(350%, -360%);
  }
}

@-webkit-keyframes shiftUpAndShrink {
  0% {
    //-webkit-transform: scale(1, 1) translate(0em, 0em);
    -webkit-transform: scale(1, 1) translate(0%, 0%);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5) translate(350%, -360%);
  }
}

@media (min-width: 22em) {
  @keyframes shiftUpAndShrink {
    from {
      transform: scale(1, 1) translate(0em, 0em);
    }
    to {
      transform: scale(0.5, 0.5) translate(0%, -60em);
    }
  }
  @-webkit-keyframes shiftUpAndShrink {
    0% {
      -webkit-transform: scale(1, 1) translate(0em, 0em);
    }
    100% {
      -webkit-transform: scale(0.25, 0.25) translate(-45em, -60em);
    }
  }
}
