html, body {
  height: 100%;
}

body {
  background-color: @ui-color;
  width: 100%;
  font-family: @fonts;
  font-weight: 400;
  margin: 0px auto;
  text-align: center;
  color: white;
  img {
    max-width: 100%;
  }
}

header {
  max-width: 100%;
  height: 22%;
}

nav {
  float: left;
  font-size: 0.9em;
  font-weight: 300;
}

h1,h2,h3,h4,h5, p, a {
  text-align: center;
   max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: 700;
}
section {
  padding-top: 8%;
  padding-bottom: 1%;
  .icon {
    transition: 1s;
  }
  h2 {
      margin-top: 0px;
      letter-spacing: 0.15em;
  }
  h3 {
      letter-spacing: 0.5em;
  }
  img {
      width: 50%;
  }
  p {
    text-align: left;
    margin: 0px auto;
    display: inline-block;
    width: 75%;
  }
}
article + article {
    margin-top: 2%;
}
a {
  text-decoration: none;
  color: white;
}

iframe {
  max-width: 100%;
  width: 75%;
  height: 18em;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: block;
}
