@media (min-width: 22em) {
  .sobreNos {
  p {
      margin: 0px auto;
      display: inline-block;
      width: 25%;
    }
  }
  #view {
    iframe {
      //margin-top: -4em;
      height: 22em;
    }
  }
  .selector {
    top: 12em;
  }
  .up {
    top: -2em;
  }
  .progressive {
    display: initial;
  }
  .menu h1 {
    text-align: right;
  }
  nav {
    font-size: 1em;
  }
  .circle {
    width: 9%;
  }
}