// INDEX CSS
#view {
    background-size: cover;
  background-image: @view-bkgrd-img;
  margin: 0px auto;
  min-height: 75%;
  background-repeat: no-repeat;
  z-index: -1;
  div {
    background-color: @section-color;
  }
}

.selector {
  top: 10em;
  width: 35%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /*Constant rotation
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
  */
  /* Hover rotation
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  &:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }*/
}


.menu {
  position: absolute;
  right: 0;
  top: 0;
  h1 {
    text-align: left;
    margin-top: -0.2em;
    display: inline-block;
    font-size: 1.75em;
    &:last-child{
      display: block;
      margin-bottom: 0em;
    }
  }
}


//VIEW CSS
//FOOTER CSS
.socialMedia {
  img {
    display: inline-block;
    max-width: 60%;
    opacity: 0.7;
    transition: opacity 0.3s;
    &:hover {
        opacity: 1;
    }
  }
}
.circle {
    width: 20%;
}
.metaInfo {
    .location {
        font-weight: 300;
    }
  p {
    display: inline-block;
    margin-left: 0.5em;
    text-align: left;
    margin-bottom: 0em;
    margin-top: 0em;
  }
}
